Source: soapyuhd
Section: libs
Priority: optional
Maintainer: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake,
    libboost-all-dev,
    libuhd-dev,
    libsoapysdr-dev
Standards-Version: 3.9.5
Homepage: https://github.com/pothosware/SoapyUHD/wiki
Vcs-Git: https://github.com/pothosware/SoapyUHD.git
Vcs-Browser: https://github.com/pothosware/SoapyUHD

Package: soapysdr-uhd
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soapy UHD - UHD devices for Soapy SDR.
 A Soapy module that supports UHD devices within the Soapy API.

Package: uhd-soapysdr
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soapy UHD - Soapy SDR devices for UHD.
 A UHD module that supports Soapy devices within the UHD API.
